body{
    background-color: rgb(178, 241, 220);
    color: rgb(5, 131, 51);
    
}
.App{
    border: 1px solid green;
    margin: 100px 30%;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}
.App h2 {
    font-style: italic;
    font-weight: 700PX;
    font-size: 30PX;
    font-family: 'Times New Roman', Times, serif;

}
.App input {
    width: 250px;
    height: 50px;
    color: green;
    border-radius: 10px;
    border: 1px solid green;
    background-color: rgb(243, 242, 217);
    font-style: italic;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    

}
.App button {
    width: 100px;
    height: 50px;
    border: 1px solid green;
    border-radius: 10px;
    color: green;
    background-color:  rgb(243, 242, 217) ;
    margin :auto;
    font-style: italic;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin-top: 20PX;

}
.App ul{
    list-style: "☐";
    cursor: pointer;
    font-size: 20PX;
    margin: 20PX;
    
}
.App ul li{
    word-wrap: break-word;

}
.diffstyle{
    list-style: "🗹";
    text-decoration: line-through;
}
.d1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}